			<li id="comment-<%= com.id %>">
				<div>
					<span class="post-name comment-name">
						<%= com.user.email%>&nbsp;
					</span>&nbsp; &nbsp;
					<p class="post-time"><%= time_ago_in_words(com.updated_at)  %></p>
					<hr>
					<p class="post-content-main comment-content-main">
					<%= com.content %>
					</p>
					
				</div>
				<% if user_signed_in? %>
					<button  class="Users-button small del"><%= link_to "Delete", comment_path(com.id) ,remote: true, method: :delete %></button>
				 <div id="NoOfLikes-comment-<%= com.id %>">
				  <% if(Like.find_by(user:current_user,likeable_type:"Comment",likeable_id:com.id)==nil)%>
						<button id="like-button" class="Users-button small"><%= link_to "like", likeToggle_path(com.id,"Comment"),:id => "my-link", remote: true,  method: :post %></button>
					<%else%>
						<button id="unlike-button" class="Users-button small"><%= link_to "unlike", likeToggle_path(com.id,"Comment"),:id => "my-link", remote: true,  method: :post %></button>
					<%end%>
				<span>Likes <%= Like.where(likeable_type:"Comment",likeable_id:com.id).length %></span>
				</div> 
				<%end%>
			</li>