<div class="log-in">
<h1>Edit Your Profile</h1>



<img id="my-profile-pic" src="<%= @user.profile_pic.url %>"> 

<button id="profilePic" class="Users-button small"><%= link_to "Delete Current Profile Pic", delete_profile_pic_path(@user.id) , remote:true, method: :post %></button>


<%= bootstrap_form_for @user,:url => edituser_path, html: { multipart: true }  do |u|%>
	
	<%= u.file_field :profile_pic %>
	<br>
	
	<%= u.text_field :email%>
	<br>
	
	<%= u.text_field :name%>
	<br>
	
	<%= u.number_field :age%>
	<br>
	
	<%= u.text_field :gender%>
	<br>
	
	<%= u.password_field :password %>
	<br>
	<%= u.submit %>
<%end%>
</div>

<script type="text/javascript">

	
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
        	console.log('onload', e);
            $('#my-profile-pic').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}


$("#user_profile_pic").change(function(){
	console.log('change', event);
    readURL(this);
});

</script>

