<li id="post-<%= p.id %>" class="post">
	<div class="post-content">
		<div class="text">
			<span class="post-name">
				<%= p.user.email%>&nbsp;
			</span>
			<span class="post-time"><%= time_ago_in_words(p.updated_at)  %></span>
			<hr>
			<p class="post-content-main">
				<%= p.content %>
			</p>
			<!-- <p class="author-details">
				<%= p.user.email%> at <%= p.created_at %>
			</p>
 -->

			 <div id="NoOfLikes-post-<%= p.id %>">
			 <% if user_signed_in? %>
			 <% if(Like.find_by(user:current_user,likeable_type:"Post",likeable_id:p.id)==nil)%>
				<button id="like-button" class="Users-button small"><%= link_to "like", likeToggle_path(p.id,"Post"),:id => "my-link", remote: true,  method: :post %></button>
			<%else%>
				<button id="unlike-button" class="Users-button small"><%= link_to "unlike", likeToggle_path(p.id,"Post"),:id => "my-link", remote: true,  method: :post %></button>
			<%end%>
				<span>Likes <%= Like.where(likeable_type:"Post",likeable_id:p.id).length %></span>
				<%end%>
			</div> 


		</div> 
		<% if user_signed_in? %>
		
			<button  class="Users-button small del"><%= link_to "Delete", post_path(p.id) ,remote: true, method: :delete %></button>
			
		
		<%end%>
	</div>

	<div class="post-comments-container">
		<% if user_signed_in? %>
		<%= form_for @comment, remote: true do |f| %>
			<%= f.hidden_field :post_id, value: p.id %>
			<%= f.text_area :content, placeholder: "Add Comment" %>
			<%= f.submit "Add" %>
		<% end %>
		<%end%>
		<ul class="comments-list">
		<h3>Comments</h3>
			<% p.comments.each do |com| %>
			<!-- <li>
				<div>
					<p>
					<%= com.content %>
					</p>
					<p class="author-details"><%= com.user.email%> at <%= com.created_at %>
					</p>
				</div>
				
				<p class="comment-destroy-link">
					<%= link_to "X", comment_path(com.id), method: :delete %>
				</p>
			</li> -->
			<%= render 'comments/comment', com: com %>
			<hr>
			<% end %>
		</ul>
	</div>
</li>