<li id="post-<%= p.id %>" class="post wow animated fadeInUp">
	<div class="post-content">
		<div class="text">

			<%if user_signed_in?%>
			<% if (!p.user.profile_pic.blank?)%> 
				<span class="nav-item ">
					<%= image_tag p.user.profile_pic.url(:medium) %>
				</span>
				<%else%>
					<span class="nav-item ">
						<img src="/images/medium/missing.png" alt="Missing">
					</span>
				<%end%>
				<%end%>

			<span class="post-name">
				<%= p.user.email%>&nbsp;
			</span>
			<span class="post-time"><%= time_ago_in_words(p.updated_at)  %></span>
			<hr>
			<p class="post-content-main">
				<%= p.content %>
			</p>
			<div id="images">
				<%p.upload_images.each do |image|%>
				
				<!-- <img class="rounded float-left"src=<%=image.uploaded_image.url%> width=260px height=260px>  -->

				<a href=<%=image.uploaded_image.url%> data-fancybox=<%= p.id %> data-caption="This image has a caption">
				      <img class="rounded float-left"src=<%=image.uploaded_image.url%> width=260px>
				 </a> 
				 <br>

				

				<%end%>
			</div>

			
			<!-- <p class="author-details">
				<%= p.user.email%> at <%= p.created_at %>
			</p>
 -->

			 <div id="NoOfLikes-post-<%= p.id %>"> 
			 <% if user_signed_in? %>
			 <% if(Like.find_by(user:current_user,likeable_type:"Post",likeable_id:p.id)==nil)%>
				<button id="like-button" class="Users-button small btn btn-primary btn-sm post-like-unlike-<%= p.id %>"><%= link_to '<i class="fa fa-thumbs-up fa-2x" style="color:white" aria-hidden="true"></i> '.html_safe, likeToggle_path(p.id,"Post"),:id => "my-link",remote: true,  method: :post %></button>
			<%else%>
				<button id="unlike-button" class="Users-button small btn btn-primary post-like-unlike-<%= p.id %>"><%= link_to '<i class="fa fa-thumbs-up fa-2x" style="color:blue" aria-hidden="true"></i>'.html_safe, likeToggle_path(p.id,"Post"),:id => "my-link", remote: true,  method: :post %></button>
			<%end%>
				<span>Likes <%= Like.where(likeable_type:"Post",likeable_id:p.id).length %></span>
				<%end%>
			</div> 

			<script type="text/javascript">

				$('.post-like-unlike-<%= p.id %> a i').click(function (){

					


					if($("#NoOfLikes-post-<%= p.id %> button a i").css("color")=='rgb(255, 255, 255)')
					{
						$("#NoOfLikes-post-<%= p.id %> button a i").css("color",'blue');
							noty({
							text:"You Liked a Post",
							type:"success",
							timeout:1000
						});
					}
					else{
						$("#NoOfLikes-post-<%= p.id %> button a i").css("color",'white');
						noty({
							text:"You unliked a Post",
							type:"success",
							timeout:1000
						});
					}

				});



					
					
			</script>


		</div> 
		<% if current_user==p.user %>
		
			<button  class="Users-button small del btn btn-primary btn-sm"><%= link_to '<i class="fa fa-trash fa-2x" aria-hidden="true"></i>'.html_safe, post_path(p.id) ,remote: true, method: :delete %></button>
			
		
		<%end%>

		
		
	</div>


	<div class="post-comments-container" id="add-button-<%= p.id %>">
		<% if user_signed_in? %>
		<% @comment= Comment.new %>
		<%= form_for @comment, remote: true do |f| %>
			<%= f.hidden_field :post_id, value: p.id %>
			<%= f.text_area :content, placeholder: "Add Comment",id: "comment-form-textarea" %>
			<%= f.submit "Add" ,:id => "add-button" %>

		<% end %>
		<%end%>
		<script>
			$('#add-button-<%= p.id %> input[type=submit]').click(function(){
				if($("#add-button-<%= p.id %> #comment-form-textarea").val()=='')
				{
					noty({
					text:"Please Enter Valid Comment",
					type:"error",
					timeout:2000
					});
					return false;
				}
				console.log("kj");
				noty({
					text:"Comment Created Successfully",
					type:"success",
					timeout:2000
				});
			});
			
		
		</script>
		
		<input id="comments-button-<%= p.id %>" class="Users-button btn btn-primary btn-sm" type="button" name="Comments" value="Show">
		<span class="post-time" id="comments-length-<%= p.id %>"><%= p.comments.length%> comments</span>
		<ul id="comments-list-<%= p.id %>" class="comments-list">
		
			<% p.comments.each do |com| %>
			<!-- <li>
				<div>
					<p>
					<%= com.content %>
					</p>
					<p class="author-details"><%= com.user.email%> at <%= com.created_at %>
					</p>
				</div>
				
				<p class="comment-destroy-link">
					<%= link_to "X", comment_path(com.id), method: :delete %>
				</p>
			</li> -->
			<%= render 'comments/comment', com: com %>
			<hr>
			<% end %>
		</ul>
		<script type="text/javascript">
			function displayComments(){
			console.log("hi");
			if($("#comments-button-<%= p.id%>" ).val()=="Show")
			{
			$("#comments-list-<%= p.id%>").css('display',"block");
			$("#comments-button-<%= p.id%>" ).val("Hide");
			
			console.log("hello",<%= p.id %>);
			}
			else{
				$("#comments-list-<%= p.id%>").css('display',"none");
				$("#comments-button-<%= p.id%>" ).val("Show");
			}
		}

		
			
		
		$('#comments-button-<%= p.id%>').click(displayComments);
		
    		
		</script>
	</div>
</li>
