<main>

	<div id="trending-news" class="animated fadeInLeft">
		<h3>Trending News</h3>
		<hr>
	</div>


	



	


	<div id="post-div" >

	<% if user_signed_in? %>

	<input id="friends-list-button" class="Users-button btn btn-primary btn-sm flb" type="button" value="Show Friends List">
	

	<!-- <script type="text/javascript">
			function displayFriendsList(){
			console.log("hi");
			if($("#friends-list-button" ).val()=="Show Friends List")
			{
			$("#All-friends").css('display',"block");
			$("#All-friends").css('width','65%');
			$('#post-div').css('display','none');
			$("#friends-list-button" ).val("Hide Friends List");
			
			
			}
			else{
				$("#All-friends").css('display',"none");
				$('#post-div').css('display','block');
			    $('#post-div').css('width','92%');
				$("#friends-list-button" ).val("Show Friends List");
				
			}
		}

		
			
		
		$('#friends-list-button').click(displayFriendsList);
		
    		
	</script> -->

	
	<div id="new-post-form-container">
		
		<%= form_for @post,:html => { :multipart => true },:remote => true do |f| %>
			<%= f.label :content, "Create Post" %>
			<%= f.text_area :content, placeholder: "What's in your mind",id:'post-form-textarea' %>
			

			<%= file_field_tag "images[]", type: :file, multiple: true %>
			
			<a id="upload-btn" class="btn btn-primary btn-sm"><i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i></a>

			<div id="uploaded-images">
		
			</div>
			
			

			<%= f.submit :id => "post-form-submit" %>

		<%end%>


		
	</div>

	<script type="text/javascript">

  

	$('#new_post').on( 'change keyup keydown paste cut', 'textarea', function (){
	    $(this).height(0).height(this.scrollHeight);
	}).find( 'textarea' ).change();

	 $('#new_post textarea').css('min-height', '50px');


	
	// function readURL(input) {
	//     if (input.files && input.files[0]) {
	//         var reader = new FileReader();

	//         reader.onload = function (e) {
	//         	console.log('onload', e);
	//             $('#my-uploaded-image').attr('src', e.target.result);
	//         }

	//         reader.readAsDataURL(input.files[0]);
	//     }
	// }


	// $("#images_").change(function(){
	// 	console.log('change', event);
	// 	console.log("AAj maja aa gya");
	//     readURL(this);
	// });
	$('#upload-btn').click(function(){
		$('#images_').click()
	});



	$("#images_").change(function () {
    if (typeof (FileReader) != "undefined") {
        var dvPreview = $("#uploaded-images");
        dvPreview.html("");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
        $($(this)[0].files).each(function () {
            var file = $(this);
            if (regex.test(file[0].name.toLowerCase())) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = $("<img />");
                    img.attr("style", "width:150px; height:100px; margin-right: 10px;margin-top: 10px;");
                    img.attr("src", e.target.result);
                    dvPreview.append(img);
                }
                reader.readAsDataURL(file[0]);
            } else {
                alert(file[0].name + " is not a valid image file.");
                dvPreview.html("");
                return false;
            }
        });
    } else {
        alert("This browser does not support HTML5 FileReader.");
    }
});


	

	</script>

	<% end %>

	<div id="posts-list-container">

		

		<ul id="posts-list">
			<% @posts.each do |post| %>
				<%= render 'post', p: post %>
			<% end %>
		</ul>
	</div>

	

	</div>





	
	<div id="All-friends" class="animated fadeInRight col-md-3" >
	<% if user_signed_in? %>


	<input id="friends-list-button" class="Users-button btn btn-primary btn-sm flb" type="button" value="Show Posts List">
	

	<script type="text/javascript">
			function displayFriendsList(){
			console.log("hi");
			if($(".flb" ).val()=="Show Friends List")
			{
			$("#All-friends").css('display',"block");
			$("#All-friends").css('width','65%');
			$('#post-div').css('display','none');
			$(".flb" ).val("Show Posts List");
			
			
			}
			else{
				$("#All-friends").css('display',"none");
				$('#post-div').css('display','block');
			    $('#post-div').css('width','92%');
				$(".flb" ).val("Show Friends List");
				
			}
		}

		
			
		
		$('.flb').click(displayFriendsList);
		
    		
	</script>

	

	<button  class="Users-button ubut btn btn-primary btn-sm"><%= link_to "Friend Requests", '/allusers' , method: :get %></button>
	<h3 id="friend-list-button">Friend List</h3>
	<hr>
	<ul class="list-group">
	<% Friendship.where(confirmed:true).each do |fr|%>
	
	<% if (fr.user == current_user)%>

	<li id= "friend-<%= fr.id%>" class="email-style list-group-item list-group-item-primary">
	

	<%= image_tag fr.friend.profile_pic.url(:medium) %>

	<div>
	<p   class="font-weight-bold text-justify" style="display:none"><%= fr.friend.email%></p>
	<p id="friend-name" class="font-weight-bold"><%= fr.friend.name %></p>
	<button  type="button" class="btn btn-primary btn-sm" id="chat-button-<%=fr.id%>">chat</button>
	<button  class="Users-button ubut small btn btn-danger btn-sm"><%= link_to "Un-Friend", "/deletefriend/#{fr.id}" ,remote: true, method: :delete %></button>
	</div>
		
	</li>

	<%elsif(fr.friend == current_user)%>
	<li id= "friend-<%= fr.id%>" class="email-style list-group-item list-group-item-primary">

	<%= image_tag current_user.profile_pic.url(:medium) %>

	<div>
	<p class="font-weight-bold text-justify" style="display:none"><%= fr.user.email%></p>
	<p id="friend-name" class="font-weight-bold"><%= fr.user.name%></p>
	<button type="button" class="btn btn-primary btn-sm" id="chat-button-<%=fr.id%>">chat</button>
	<button  class="Users-button ubut small btn btn-danger btn-sm"><%= link_to "Un-Friend", "/deletefriend/#{fr.id}" ,remote: true, method: :delete %></button>
	</div>

	</li>

	<%end%>
	
			<!-- <a data-remote="true" rel="nofollow" data-method="delete" href="/deletefriend/#{fr.id}">X</a> -->
			
	

	
	<script type="text/javascript">
		$('#chat-button-<%= fr.id%>').click(function(){


			

			

			var email = $('#friend-<%= fr.id%> p:nth-child(1)').html();
			var newElement = $('<p>',{
				'html':email
			});
			newElement.addClass('chat-with');

			var newElement2 = $('#friend-<%= fr.id %> img');

			$('#chat-application p').remove();
			$('#chat-application').prepend(newElement);
			$('#chat-application img').remove();
			$('#chat-application').prepend(newElement2.clone());
			$('#chat-application').css('display','block');
			

			var sender_email= $('#logged-in-user-email').val();
			var receiver_email= $('#chat-application p').html();

			$('#chat-form form').attr('action', '/messages/create?receiver='+email+'&sender='+sender_email);




			


			
			console.log(receiver_email);
		 	var socket = io.connect('shallsocialnode.herokuapp.com');
		 
		 	socket.on('connect', function(){
		 		console.log('handshake completed');
		 		socket.emit('login',{user_email:sender_email});
		 		
		 		
		 		socket.emit('make_room',{sender_email:sender_email , receiver_email:receiver_email});
		 		
		 	});
		 	var objDiv = document.getElementById('chat-messages');
				objDiv.scrollTop = objDiv.scrollHeight;

		 	$('#close-chat').click(function(){
		 		socket.emit('forceDisconnect');
		 		$('#chat-application').css('display','none');
		 	});


		 	$('#chat-application').hover(function(){
		 		console.log("shivam");
		 		socket.emit('checkOnline',{user_email:receiver_email});
		 		socket.on('status',function(data){
		 			$('#chat-application #chat-about p').remove();
		 			var newElement = $('<p>',{
		 				'html':data.status
		 			});
		 			newElement.addClass('chat-num-messages');
		 			$('#chat-application #chat-about').prepend(newElement);
		 		});
		 	});

		 	$("#message-submit").click(function(){
		 		// socket.emit('checkOnline',{user_email:receiver_email});
		 		// socket.on('status',function(data){
		 		// 	$('#chat-application h3').remove();
		 		// 	$('#chat-application').prepend($('<h3>',{
		 		// 		'html':data.status
		 		// 	}));
		 		// });
		 		var message = $("#content").val();
		 		
		 		var data={sender_email:sender_email, receiver_email:receiver_email, message:message};
		 		socket.emit('sendMessage',data);
		 		var objDiv = document.getElementById("chat-messages");
				objDiv.scrollTop = objDiv.scrollHeight;
		 	});
		 	socket.on("receiveMessage",function(data){
		 		console.log("hello shivam bhai");
		 		var newElement = $('<li>',{
		 			'html':data.message
		 		});
		 		var newElement2 = $('<li>',{
		 			'html':data.sender_email
		 		});
		 		newElement2.addClass('sender-name');
		 		var newElement3 = $('<li>',{
		 			'html':data.receiver_email
		 		});
		 		newElement3.addClass('sender-name');

		 		if(data.sender_email == sender_email)
		 		{
		 			newElement.addClass('self-message');
		 			$('#chat-messages ul').append(newElement2);
		 		}
		 		//console.log(receiver_email, data.receiver_email);
		 	    else {
		 			newElement.addClass('other-message');
		 	    	$('#chat-messages ul').append(newElement3);
		 		}
		 		$('#chat-messages ul').append(newElement);
		 		var objDiv = document.getElementById("chat-messages");
				objDiv.scrollTop = objDiv.scrollHeight;
				$('#content').val('');

		 	});

 
		


		});
	</script>
	</ul>
	
	
	<%end%>
	<%end%>
	</div>


	<script type="text/javascript">
	localStorage.page = 2;
	localStorage.count = <%= @count %>;
	initialScroll = 0;
	var postsAjax;
	function getPosts(){
		postsAjax = $.ajax({
			type: 'GET',
			url: '/',
			data: {
				page: localStorage.page,
				count: localStorage.count
			},
			dataType: 'script',
		});
	}

	$(window).scroll(function(){

		if (window.scrollY > initialScroll + 300 && postsAjax == undefined){
			getPosts();
			initialScroll = window.scrollY;
		}

	});


</script>

	
	

</main>